body {
    min-height: 100vh;
    .btn-list {
        //提交按钮
        text-align: center;
        line-height: .5rem;
        .btn {
            height: .30rem;
            line-height: .26rem;
            float: none;
            border-radius: .05rem;
            text-align: center;
            font-size: .14rem;
            width: 1rem;
            cursor: pointer;
            &.btn-submit {
                border: 1px solid #378bd3;
                background: #378bd3;
                color: #fff;
                margin: 0 .2rem 0 .2rem;
                &.submit-gray {
                    background-color: #6da7d1;
                    border: 1px solid #6da7d1;
                    color: #ffffff;
                }
            }
        }
    }
    .ui-star-red {
        //必输提示
        color: red;
        position: absolute;
        right: 0;
    }
    .github {
        position: fixed;
        background-color: #000005;
        width: 2.4rem;
        line-height: .3rem;
        transform: rotate(45deg);
        text-align: center;
        top: .5rem;
        right: -.5rem;
        color:#ffffff;
        font-size: .14rem;
        border: 2px dashed #ffffff;
        outline: 3px solid #000005;
    }
}
