$color:#FFF;
.login-view {
    width: 3rem;
    height: 2.2rem;
    line-height: .4rem;
    margin-left: auto;
    margin-right: auto;
    color: $color;
    margin-top: 2rem;
    position: relative;
    &>div {
        transition: 1s;
        transform-style: preserve-3d;
        &.rotate {
            transform: rotateY(180deg);
        }
        &>article {
            background-color: #000007;
            box-shadow: 0.1rem 0.1rem 0.3rem #020214;
            backface-visibility: hidden;
            position: absolute;
            height: 2.2rem;
            width: 3rem;
            padding: .1rem;
            border-radius: .1rem;
            &>header {
                text-align: center;
            }
            &:first-child {
                transform: rotateY(0deg);
            }
            &:last-child {
                transform: rotateY(-180deg);
                cursor: pointer;
            }
            &>p {
                text-indent: 2em;
            }
            &>form {
                &>.container {
                    &>.row {
                        &>div {
                            &>label {
                                position: relative;
                                width: 25%;
                                text-align: right;
                                display: inline-block;
                                padding-right: .1rem;
                            }
                            &>input {
                                border-radius: .05rem;
                                border: 1px solid #dadaf1;
                                padding-left: .05rem;
                                background-color: rgb(250, 255, 189);
                                font-size: .13rem;
                                height: .29rem;
                                width: 60%;
                                outline: none;
                            }
                        }
                    }
                }
                &>label {
                    color: #fff;
                    line-height: .14rem;
                    display: block;
                    height: .14rem;
                    font-size: .14rem;
                    text-align: right;
                    margin-top: .14rem;
                    cursor: pointer;
                }
            }
        }
    }
}
