.toast {
    text-align: left;
    padding: 0 .1rem 0 .1rem;
    &>.ngdialog-overlay {
        display: none;
    }
    &>.ngdialog-content {
        &>.ngdialog-close {
            display: none;
        }
        display: inline-block;
        top: .6rem;
        position: relative;
        line-height: 2em;
        padding: 0 1em 0 1em;
        border-radius: .05rem;
        color: white;
    }
    &.info-level {
        //普通
        &>.ngdialog-content {
            background-color: #607D8B;
        }
    }
    &.warn-level {
        //警告
        &>.ngdialog-content {
            background-color: #f2dc16;
        }
    }
    &.error-level {
        //错误
        &>.ngdialog-content {
            background-color: #E91E63;
        }
    }
}
